@model IEnumerable<Tp_Freelance.Models.CustomerCat>

@{
    ViewData["Title"] = "Gestion de Team";
}

<h1 class="text-center">Gestion de groupe pour les clients</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-simple"><i class="fa btn-fa fa-plus"></i>Create New Team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
