@model IEnumerable<Tp_Freelance.Models.CustomersCat>

@{
    ViewData["Title"] = "Categories";
}

<h1 class="text-center">@ViewBag.Title</h1>

<p class="text-center">
    <a asp-action="Create">Create New Categorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatDescription)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CatId"><i class="fa fa-pencil-square-o"></i></a>
                <a asp-action="Delete" asp-route-id="@item.CatId"><i class="fa fa-times"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
