@model IEnumerable<Tp_Freelance.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.CatName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId"><i class="fa fa-edit"></i> Edit</a>
                <a asp-action="Delete" asp-route-id="@item.CustomerId"><i class="fa fa-close"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
